@{
    Layout = "_EditView";
}
@model Core.SimpleTemp.Application.SysDepartmentDto
@section scripts{
    <script src="~/Views/Department/Edit.js"></script>
}
<form id="addForm" onsubmit="return false" class="form-horizontal">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="ParentId" value="@Model.ParentId" id="ParentId" />
    <div class="box-body">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="">部门名称</label>
            <span asp-validation-for="Name" class="text-danger"></span>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Name" value="@Model.Name" autocomplete="off" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputPassword3">部门编码</label>
            <span asp-validation-for="Code" class="text-danger"></span>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Code" value="@Model.Code" autocomplete="off" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="">负责人</label>
            <span asp-validation-for="Manager" class="text-danger"></span>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Manager" value="@Model.Manager" autocomplete="off" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="">联系电话</label>
            <span asp-validation-for="ContactNumber" class="text-danger" ></span>
            <div class="col-sm-10">
                <input class="form-control" asp-for="ContactNumber" value="@Model.ContactNumber" type="text" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="">部门描述</label>
            <span asp-validation-for="Remarks" class="text-danger"></span>
            <div class="col-sm-10">
                <textarea asp-for="Remarks" value="@Model.Remarks" placeholder="部门描述" class="form-control" rows="3"></textarea>
            </div>
        </div>
    </div>
    <input id="btnSave" class="btn btn-primary" type="submit" style="display:none" value="保存" />
</form>
