@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*

    编辑页面通用模板，为迎合框架内部Js部分规则一定义好
    如需有特殊需求请注意一下几点
    formId、onsubmit
    BtnSave

*@


@model Core.SimpleTemp.Application.MenuApp.SysMenuDto
@{
    Layout = "_EditView";
}
@section scripts{

    <script src="~/Views/Menu/Edit.js"></script>
}
    <form id="addForm" onsubmit="return false" class="form-horizontal">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="hidden" asp-for="ParentId" value="@Model.ParentId" />
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">Name</label>
                <span asp-validation-for="Name" class="text-danger"></span>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Name" value="@Model.Name" autocomplete="off" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="Code">功能编码</label>
                <span asp-validation-for="Code" class="text-danger"></span>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Code" value="@Model.Code" autocomplete="off" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="">功能类型</label>
                <span asp-validation-for="Code" class="text-danger"></span>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Code" value="@Model.Code" autocomplete="off" type="text">
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label" for="Type">功能类型</label>
                <span asp-validation-for="Type" class="text-danger"></span>
                <div class="col-sm-10">
                    <select class="form-control" asp-for="Type">
                        <option value="0">功能菜单</option>
                        <option value="1">操作按钮</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="">链接地址</label>
                <span asp-validation-for="Url" class="text-danger"></span>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Url" type="text" placeholder="链接地址">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="Icon">功能图标</label>
                <span asp-validation-for="Icon" class="text-danger"></span>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Icon" type="text" placeholder="功能图标">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">功能序号</label>
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="SerialNumber" type="text" placeholder="功能序号">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">功能描述</label>
                <span asp-validation-for="Remarks" class="text-danger"></span>
                <div class="col-sm-10">
                    <textarea asp-for="Remarks" class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>

        <input id="btnSave" class="btn btn-primary" type="submit" style="display:none" value="保存" />
    </form>
